.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Navbar y羹ksekliini 癟覺kar */
  text-align: center;
  color: white;
  background-image: url('../assets/starrybackground.jpg'); /* Resim yolu */
  background-size: cover; /* Resmi tam kapla */
}

  .homepage h1 {
    font-size: 1.90rem;
    color: #ab92e2;
    margin-bottom: 900px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
  }
  

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: -700px; /* Butonlar覺 yukar覺 ta覺 */
    z-index: 2;
  }
  
  .actions button {
    width: 200px;
    padding: 20px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #524768;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Zikzak efekti */
.actions button:nth-child(odd) {
  transform: translateX(-300px);
}

.actions button:nth-child(even) {
  transform: translateX(300px);
}
  
  .actions button:hover {
    background-color: #0056b3;
  }

  .modal-content input {
    display: block;
    width: 90%; /* Genilii art覺r */
    margin: 10px auto; /* Ortala */
    padding: 12px; /* 襤癟 boluklar覺 art覺r */
    font-size: 16px; /* Yaz覺 boyutunu b羹y羹t */
    border: 20px solid #9474b5; /* Kenarl覺k */
    border-radius: 6px; /* K繹eleri yuvarla */
    box-sizing: border-box; /* Kenarl覺k ve padding dahil */
  }

  .modal-content button {
    width: 100px; /* Buton genilii */
    padding: 12px 20px; /* 襤癟 boluklar覺 art覺r */
    font-size: 16px; /* Yaz覺 boyutunu b羹y羹t */
    margin: 40px; /* Butonlar aras覺na boluk ekle */
    border: none; /* Kenarl覺klar覺 kald覺r */
    border-radius: 6px; /* K繹eleri yuvarla */
    cursor: pointer; /* 襤mleci iaret癟i yap */
    transition: background-color 0.3s ease; /* Renk ge癟ii */
  }
  
  .modal-content button:first-of-type {
    background-color: #332571; /* Onayla butonu i癟in yeil */
    color: white; /* Yaz覺 rengi */
  }
  
  .modal-content button:first-of-type:hover {
    background-color: #2f1b70; /* Onayla butonu hover rengi */
  }
  
  .modal-content button:last-of-type {
    background-color: #231075; /* 襤ptal butonu i癟in k覺rm覺z覺 */
    color: white; /* Yaz覺 rengi */
  }
  
  .modal-content button:last-of-type:hover {
    background-color: #1b1b83; /* 襤ptal butonu hover rengi */
  }

  .floating-img {
    display: block;
    margin: -150px auto 0 auto; 
    left: 40%;
    transform: translateX(-50%);
    position: absolute;
    width: 300px;
    height: auto;
    z-index: 0;
    animation: float 2s ease-in-out infinite;
    transition: transform 0.3s ease;
    opacity: 0.95;
  }
  
  .floating-img:hover {
    transform: scale(1.1); /*  Hover b羹y羹me efekti */
  }

  .centered-mascot:hover {
    transform: scale(1.05);
  }
  
  input, select, textarea {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #ccc;
  }
  
  @keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
  
  